---
import Layout from '../layouts/Layout.astro';
import Subheading from '../components/Subheading.astro';

const title = "SmartController.js";
---

<Layout title={title}>


  <main>



    <script is:inline src="https://unpkg.com/smartcontroller@3.2.7/dist/smartcontroller.min.js"> </script>

    <script is:inline>
      var pos = 0
      var simplePeer;
      var touchpad;

      window.addEventListener('load', function () {
        simplePeer = new smartcontroller.ScrollSmartController('123456789', firstConnected = true);
        simplePeer.createQrCode('https://smartcontrollerjs.github.io/Controllers/blog_scroll.html', 'qrcode', 150, 150, '1');

        simplePeer.on("connection", function (data) {
          console.log(simplePeer.controllerList)
        })

        simplePeer.on("data", function (data) {
          message = data.data.data;
          if (message.type == "button") {
            document.getElementById(message.button_id).scrollIntoView();
          }
          else if (message.type == "touchpad") {
            touchpad = simplePeer.controllerList[1]

            if (touchpad.isActive) {

              if (touchpad.direction) {
                pos = -25
              }

              else {
                pos = 25
              }

            }

          }
          window.scrollBy(0, pos);
        })


      })

    </script>


<div class="wrapper">
  <div class="sidebar">
    <h2>SC.org</h2>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#smartcontroller">Smartcontroller.js</a></li>
      <li><a href="#implemented">Implemented</a></li>
      <li><a href="#experiments">Experiments</a></li>
      <li><a href="#discussion">Discussion</a></li>
      <li><a href="#future">Future Work</a></li>
    </ul>
  </div>
</div>

    <div class="section-container">
    <section id="home" style="background-color:#fef9ef">
      <h1><span>{title}</span></h1>

      <div class="scan-text">Scan me to begin</div>
      <div class="qrcode" id="qrcode"></div>
      <div style="color:grey" class="qrcode">How does this work? Read on to find out</div>
      <div style="position:absolute; top:40%;">
        <Subheading title="An NPM library by SmartController.org">{title}</Subheading>
      </div>

    </section>
    <section id="smartcontroller" style="background-color:beige">
      <Subheading title="What is SmartController.js">{title}</Subheading>
    </section>
    <section id="implemented" style="background-color:coral">
      <Subheading title="What did we implement?">{title}</Subheading>
      <iframe style="position: absolute ;left: 15%; top:10%"
        src="https://fraser-dempster.github.io/l4-project-interactive-game/" width="80%" height="800"></iframe>
    </section>
    <section id="experiments" style="background-color: lightpink;">
      <Subheading title="Experiments + results">{title}</Subheading>
      <iframe style="position: absolute ;left: 5%; top:10%" src="https://smartcontrollerjs.github.io/Coin-Chaser/"
        width="100%" height="800"></iframe>
    </section>
    <section id="discussion" style="background-color:seagreen">
      <Subheading title="Discussion + trends">{title}</Subheading>
    </section>
    <section id="future" style="background-color:antiquewhite">
      <Subheading title="Future Work">{title}</Subheading>
    </section>
  </div>


  </main>
</Layout>

<style>
  * {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
  }

  :root {
    --astro-gradient: linear-gradient(0deg, #4F39FA, #DA62C4);
  }

 .wrapper {
    position: relative;
  }

  .wrapper .sidebar {
    position: fixed;
    width: 16%;
    height: 100%;
    background: #4b4276;
    z-index: 1;
    padding: 30px 0;
  }

  .wrapper .sidebar h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }

  .wrapper .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(225, 225, 225, 0.05);
  } 

  .wrapper .sidebar ul li a {
    color: #bdb8d7;
    display: block;
  }

  .wrapper .sidebar ul li:hover {}

  .wrapper .sidebar ul li:hover {
    background: #594f8d;
  }

  .wrapper .sidebar ul li:hover a {
    color: #fff;
  }  

  h1 {
    margin: 2rem 0;
    font-size: 6vw;
    text-align: right;
    height: fit-content;
    position: absolute;
    top: 30%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 6%;
  }

  .qrcode {
    right: 30%;
    position: relative;
    margin: 0;
    font-size: 1vw;
    /* width: 150;
    height: 150; */
  }

  .scan-text {
    font-family: monospace;
    right: 30%;
    margin-top: 13%;
    position: relative;
    font-size: 2vw;
  }

  main {
    margin: auto;
    /* padding: 1em; */
    max-width: 800%;
    overflow-x: hidden;
  }

  section {
    position: relative;
    font-family: sans-serif;
    min-height: 100vh;
    max-width: 86%;
    left: 14%;
    display: flex;
    flex-direction: column;
    /* justify-content: baseline; */
    align-items: center;
    top: 0;
  }

  .sticky {
    position: sticky;
    top: 0;
    text-align: center;
  }
</style>